*,
*::after,
*::before {
  box-sizing: border-box;
}
.page {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.container {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header {
  height: 70px;
  padding-left: 140px;
  padding-right: 140px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.header-inner {
  display: flex;
  justify-content: space-between;
    align-items: center;
    height: 70px;
}
.header-logo {
  width: 105.69px;
  height: 40px;
  background-color: #000022;
//   margin-top: 15px;
}
.header-content {
  display: flex;
  justify-content: flex-end;
//   margin-top: 26px;
  background-color: #009900;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  max-width: 446px;
  line-height: 17px;
}
.header-menu__item {
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
}
.header-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-buttons__button {
  height: 34px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
  // background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background: #ffffff;
  // border-width: 2px;
  border-radius: 22px;
  // border: 2px solid linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: 2px solid #bc9cff;
}
.header-username {
  display: none;
}
