%ms-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

%ms-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

%os-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
